.page-home {
    @include page-colors(color('blue-grey', 'darken-3'), color('blue-grey', 'lighten-5'));

    .intro {
        height: 100vh;
        background-image: url('/images/main.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .intro-text {
        font-weight: 400;
    }

    .services {
        i {
            display: block;
            margin-bottom: 1rem;
            font-size: 5rem;

            @media #{$medium-and-down} {
                margin-bottom: .5rem;
            }
        }

        .row:not(:first-of-type) {
            margin-bottom: 5rem;

            @media #{$medium-and-down} {
                margin-bottom: 2rem;
            }
        }

        @media #{$small-and-down} {
            text-align: center;
        }
    }

    .italic {
        font-style: italic;
    }

    .normal {
        font-style: normal;
    }

    .no-underline:hover ~ a {
        border-bottom-color: transparentize(color('grey', 'darken-3'), .5);
    }
}
