.navbar-fixed nav {
  background-color: transparent;
  box-shadow: none;

  %a {
    color: color('blue-grey', 'darken-3');
    border-bottom: 1px solid transparentize(color('blue-grey', 'darken-3'), .75);

    &:hover {
      border-bottom-color: transparentize(color('blue-grey', 'darken-3'), .5);
    }
  }

  a {
    @extend %a;
    display: inline;
  }

  ul:not(.side-nav) {
    @include transition(all .4s $ease-out-circ .5s);

    &.hidden {
      @include transform(translateY(-5rem));
    }

    a {
      @extend %a;
      display: inline;
      padding: 0;
    }

    a:hover {
      background: transparent;
    }

    li:not(:first-of-type) {
      margin-left: 2rem;
    }
  }

  .side-nav {
    transition: all 0.3s;

    a {
      font-weight: 400;
      display: block;
      height: 64px;
      line-height: 64px;
      //border-bottom: 1px solid color('blue-grey', 'lighten-5') !important;
      color: color('blue-grey', 'darken-3') !important;
    }

  }

  .side-nav-open {
    transform: translateX(0%);
  }

  .side-nav-overlay {
    //transform: translateX(0%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    will-change: opacity;
    opacity: 1;
  }

  .current-page {
    display: inline-flex !important;
    align-items: center;
    gap: 0.45rem;
    border-bottom: none !important;

    &:hover {
      border-bottom: none !important;
    }
  }
}
